<html>
  <head>
    <base href="<%= basePath %>">
    <title><%= filename %> - Sourcetree</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/vs2015.min.css" integrity="sha384-BE+nmfgoK1j3fBxbLI64Jzf52Mx/QAyw+4O7GyPYevJnAyrljCoRtQkYNfCfuWPF" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= distPath %>main.css?v=<%= (new Date()).valueOf() %>">
  </head>
  <body style="display: flex; flex-direction: row; margin: 0;">
    <div id="side-panel">
      <div id="side-panel-tabs">
        <div id="tab-panel-files" class="side-panel-tabs-button enabled">files</div>
        <div id="tab-panel-search" class="side-panel-tabs-button">search</div>
      </div>
      <div class="side-panel-tab" id="panel-files"><%- tree %></div>
      <div class="side-panel-tab" id="panel-search" hidden>
        <input type="text" id="search-input" disabled>
        <div id="search-result">Not implemented yet</div>
      </div>
    </div>
    <div id = "main-panel">
    <pre id="line-numbers"><%
      const t = src.split('\n').length;
      for (let i = 1; i <= t; i += 1) { %><span id="<%= i %>"><%= (i+'').padStart(4) %>| </span>
<%    } %>
    </pre>
    <pre id="code"><code class="language-js"><%- src %></code></pre>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2.10.1" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tippy.js@6.3.1" integrity="sha384-vJRz16GTXNh0rYTtwJHOvYKAak1mFPGhLKTioEv5FQz+vxPy/UK77RAjCyUIHFGB" crossorigin="anonymous"></script>
    <script src="<%= distPath %>main.js?v=<%= (new Date()).valueOf() %>"></script>
  </body>
</html>
